<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StarWars</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Diameter (in km)</th>
            <th>Climate</th>
            <th>Terrain</th>
            <th>Surface Water</th>
            <th>Population</th>
        </tr>
        {% for row in data.results %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.diameter }}</td>
                <td>{{ row.climate }}</td>
                <td>{{ row.terrain }}</td>
                <td>{{ row.surface_water }}</td>
                <td>{{ row.population }}</td>
                <td>
                    {% if row.residents %}
                        <button>Residents</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>